In [5]:
#Steve Branch

import pandas as pd
import numpy as np

In [6]:
#Load the data file
filename = 'mental_health_data_true.csv'
data = pd.read_csv(filename)
data.head(10)

#%
# Remove Self Employed Records from the Data

# Two ways to do this: Method 1:
# Set the Dataframe equal to record where data['A'] == 0
# data = data[data['A'] == 0]
# data.shape

# Method 2:
# Actually drop the records from the data frame using frop
data.drop(data[data['A'] == 1].index, inplace = True)
data.shape

,A,B,C,D,E,F,G,H,I,J,...,BBB,CCC,DDD,EEE,FFF,GGG,HHH,III,JJJ,LLL
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,6-25,1.0,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,0,6-25,1.0,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
4,0,6-25,0.0,1.0,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
5,0,More than 1000,1.0,NaN,Yes,I am not sure,No,Yes,Yes,Somewhat easy,...,Not applicable to me,Often,42,Male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes
6,0,26-100,1.0,NaN,I don't know,No,No,No,I don't know,Somewhat easy,...,Not applicable to me,Not applicable to me,30,M,United States of America,Tennessee,United States of America,Tennessee,Back-end Developer,Sometimes
7,0,More than 1000,1.0,NaN,Yes,Yes,No,Yes,Yes,Very easy,...,Sometimes,Often,37,female,United States of America,Virginia,United States of America,Virginia,Dev Evangelist/Advocate|Back-end Developer,Always
8,0,26-100,0.0,1.0,I don't know,No,No,No,I don't know,Very difficult,...,Rarely,Often,44,Female,United States of America,California,United States of America,California,Support|Back-end Developer|One-person shop,Sometimes
9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rarely,Often,30,Male,United States of America,Kentucky,United States of America,Kentucky,One-person shop|Front-end Developer|Back-end D...,Always

In [8]:
#Drop columns

In [9]:
#Combine WW and XX

In [10]:
#Column XX and WW missing values

In [11]:
#Column XX. WW, ZZ codify non-standard values as other

In [12]:
#Replace General Missing Values

In [13]:
#Handle Gender Somehow

In [14]:
#Age Outliers

In [15]:
#Encode yes,no,ect values

In [15]:
# TODO: We probably should write the data to a clean csv file
# DO NOT OVER WRITE EXISTING CSV, it should be written to a new file