In [38]:
#Cory Branch

import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('mental_health_data_true.csv')
df.head(10)

,A,B,C,D,E,F,G,H,I,J,...,BBB,CCC,DDD,EEE,FFF,GGG,HHH,III,JJJ,LLL
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,6-25,1.0,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,0,6-25,1.0,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
4,0,6-25,0.0,1.0,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
5,0,More than 1000,1.0,NaN,Yes,I am not sure,No,Yes,Yes,Somewhat easy,...,Not applicable to me,Often,42,Male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes
6,0,26-100,1.0,NaN,I don't know,No,No,No,I don't know,Somewhat easy,...,Not applicable to me,Not applicable to me,30,M,United States of America,Tennessee,United States of America,Tennessee,Back-end Developer,Sometimes
7,0,More than 1000,1.0,NaN,Yes,Yes,No,Yes,Yes,Very easy,...,Sometimes,Often,37,female,United States of America,Virginia,United States of America,Virginia,Dev Evangelist/Advocate|Back-end Developer,Always
8,0,26-100,0.0,1.0,I don't know,No,No,No,I don't know,Very difficult,...,Rarely,Often,44,Female,United States of America,California,United States of America,California,Support|Back-end Developer|One-person shop,Sometimes
9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rarely,Often,30,Male,United States of America,Kentucky,United States of America,Kentucky,One-person shop|Front-end Developer|Back-end D...,Always

In [40]:
#Remove self employed records

In [41]:
#Drop columns

In [42]:
#Combine WW and XX

In [43]:
df['WW'] = np.where(df['WW'] != df['WW'], df['XX'], df['WW'])

In [44]:
print(df.loc[:16,'WW'])

0                                                   NaN
1     Anxiety Disorder (Generalized, Social, Phobia,...
2                                                   NaN
3     Anxiety Disorder (Generalized, Social, Phobia,...
4     Anxiety Disorder (Generalized, Social, Phobia,...
5     Anxiety Disorder (Generalized, Social, Phobia,...
6                                                   NaN
7     Anxiety Disorder (Generalized, Social, Phobia,...
8     Mood Disorder (Depression, Bipolar Disorder, etc)
9     Anxiety Disorder (Generalized, Social, Phobia,...
10    Mood Disorder (Depression, Bipolar Disorder, etc)
11    Anxiety Disorder (Generalized, Social, Phobia,...
12    Mood Disorder (Depression, Bipolar Disorder, etc)
13            Substance Use Disorder|Addictive Disorder
14    Anxiety Disorder (Generalized, Social, Phobia,...
15    Mood Disorder (Depression, Bipolar Disorder, etc)
16    Anxiety Disorder (Generalized, Social, Phobia,...
Name: WW, dtype: object

In [45]:
#Column XX and WW missing values

In [46]:
#if no value due to "no" entered beforehand:
df['WW'] = np.where((df['WW'] != df['WW']) & (df['VV'] == 'No'), 'N/A', df['WW'])
#if no value because skipped:
df['WW'] = np.where(df['WW'] != df['WW'], 'None', df['WW'])
print(df.loc[160:164,'WW'])

160    Anxiety Disorder (Generalized, Social, Phobia,...
161    Mood Disorder (Depression, Bipolar Disorder, etc)
162    Mood Disorder (Depression, Bipolar Disorder, e...
163                                                  N/A
164                                                 None
Name: WW, dtype: object

In [47]:
#Column XX. WW, ZZ codify non-standard values as other

In [48]:
answerString = ('Anxiety Disorder (Generalized, Social, Phobia, etc); Mood Disorder (Depression, Bipolar Disorder, etc); Psychotic Disorder (Schizophrenia, Schizoaffective, etc); Eating Disorder (Anorexia, Bulimia, etc); Attention Deficit Hyperactivity Disorder; Personality Disorder (Borderline, Antisocial, Paranoid, etc); Obsessive-Compulsive Disorder; Post-traumatic Stress Disorder; Stress Response Syndromes; Dissociative Disorder; Substance Use Disorder; Addictive Disorder; Other,Anxiety Disorder (Generalized, Social, Phobia, etc); Mood Disorder (Depression, Bipolar Disorder, etc); Psychotic Disorder (Schizophrenia, Schizoaffective, etc); Eating Disorder (Anorexia, Bulimia, etc); Attention Deficit Hyperactivity Disorder; Personality Disorder (Borderline, Antisocial, Paranoid, etc); Obsessive-Compulsive Disorder; Post-traumatic Stress Disorder; Stress Response Syndromes; Dissociative Disorder; Substance Use Disorder; Addictive Disorder; Other; N/A; None')
answerList = answerString.split('; ')
pattern = '|'.join(answerList)
df['WW'] = np.where((df['WW'].str.contains(pattern)), df['WW'],'Other')
print(df.loc[160:164,'WW'])

160    Anxiety Disorder (Generalized, Social, Phobia,...
161                                                Other
162                                                Other
163                                                  N/A
164                                                 None
Name: WW, dtype: object

D:\Anaconda\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [7]:
#Replace General Missing Values

In [8]:
#Handle Gender Somehow

In [9]:
#Age Outliers

In [10]:
#Encode yes,no,ect values